
name: Tests

on:
  pull_request:
    branches: 
      - master
      - staging

jobs:
  build:

    strategy:
      matrix:
        node_version: [12.x]
        python_version: [3.8.x]

    runs-on: ubuntu-latest

    steps:

    - name: Install AWS CLI
      run: sudo apt-get install awscli

    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        version: ${{ matrix.node_version }}

    - name: Install NPM Packages
      run: |
        sudo npm install -g aws-cdk
        cdk --version

    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python_version }}
    
    - name: Install Python Dependencies & Running Tests
      run: |
        python -m pip install --upgrade pip

        python3 -m venv .env
        source .env/bin/activate
        pip3 install -r requirements.txt

        cdk synth cdk-lambda
        cdk synth cdk-api
        cdk synth cdk-elasticSearch

        pytest

    # - name: Lint with flake8
    #   run: |
    #     pip install flake8
    #     # stop the build if there are Python syntax errors or undefined names
    #     flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
    #     # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
    #     flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    
